* {
    text-decoration: none;
}

body {
    font-family: 'Work Sans', sans-serif;
}
body button{
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    margin: 0 90px;
}

nav .nav-logo {
    display: flex;
}

nav .nav-logo img {
    width: 85px;
    height: 40px;
    padding-right: 20px;
}

nav .nav-logo h3 {
    font-family: Work Sans;
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    color: #0B0223;
}

nav .nav-logo h3 span {
    color: #FF42A5;
}

nav .nav-menu a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 20px 25px;
    transition: all linear .3s;

}

nav .nav-menu a img {
    vertical-align: middle;
}

nav .nav-menu a:hover {
    border-radius: 8px;
    background: #0b02231a;
    transition: all linear .3s;
}

/* banner part */
.bnr {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.banner {
    display: flex;
    margin-right: 100px;
    margin-left: 100px;

    /* background-size: 100%; */
}

.banner>div {
    width: 50%;
}


.banner-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    padding-top: 100px;

}

.banner-content h2 {
    font-size: 95px;
    font-weight: 800;
    color: #f948b2;
    margin: 0;
}

.banner-content a {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 0;
    display: block;
}

.banner-content a img {
    vertical-align: middle;
}

.banner-image img {
    width: 100%;
}

.b-content {
    margin-bottom: 20px;
}

.banner-content button,
.gamer-content button {
    padding: 15px 30px;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    border: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    transition: all linear .3s;
}

.banner-content button:hover,
.gamer-content button:hover {
    background: #4EC5F7;
    transition: all linear .3s;
}

/* gamer part */
.gmr {
    background: #ff42a508;
}

.gamer {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-left: 100px;
    margin-right: 100px;
}

.gamer>div {
    width: 50%;
}

.gamer-img img {
    width: 100%;
}

.gamer-content h3 {
    font-size: 48px;
    font-weight: 700;
    color: #F948B2;
    margin: 0;
    padding-top: 70px;
}

.gamer-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin-left: 60px;
    padding-bottom: 20px;
}

.gamer-content h5 {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin: 0;
    padding-top: 30px;
}

/* online games part */
.online-games {
    margin: 0 100px;
}

.online-games h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 15px;
}

.online-games h3 span {
    color: #F948B2;
}

.online-games p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    text-align: center;
    padding-bottom: 30px;
}

.games-images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image img {
    width: 100%;


}

.image figcaption {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

.play-instant {
    display: flex;
    justify-content: right;
    margin: 0 100px;
    padding-top: 50px;
}

.play-instant>div {
    width: 50%;
}

.play-content {
    padding-top: 200px;
}

.play-content h3 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    text-align: center;

}

.play-content h3 span {
    color: #F948B2;
}

.play-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}

.play-img img {
    width: 100%;
    /* margin-right: 50px; */
}



.play-img img:last-child {
    width: 230px;
    height: 250px;
    position: relative;
    bottom: 180px;
    left: -80px;
}

/* career part start */
.career{
    background: #FF42A5;

}
.career-content{
    margin: 0 90px;
}
.career-part {
    display: flex;
}
.career-part>div {
    width: 50%;
}

.career-part img {
    width: 100%;
    height: 700px;
    background-size: cover;
}

.career-content h3 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-top: 100px;
    padding-bottom: 20px;
}

.career-content p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
    padding-bottom: 30px;
}

.list-heading h6 {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
    padding-bottom: 40px;
}

.list-location h6 {
    text-align: right;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    line-height: 40px;
    margin: 0;
}

.career-list {
    display: flex;
}

.career button {
    color: #FF42A5;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    background: #fff;
    border-radius: 48px;
    border: none;
}



/* catagory part Tag: */
.catagory {
    background: rgba(255, 66, 165, 0.03);
    padding-top: 50px;
}

.catagory-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 90px;
    padding-bottom: 50px;
}

.catagory-content a {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 400;
    padding: 20px 10px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: all linear .3s;
    margin-right: 10px;
}

.catagory-content a img {
    vertical-align: middle;
    height: 35px;
    width: 35px;
}

.catagory-content a:hover {
    border: 1px solid #f948b2;
    border-radius: 50px;
    color: #f948b2;
    transition: all linear .3s;
}

footer {
    margin: 0 auto;
    text-align: center;
    background: #0B0223;
}

.footer {
    padding-top: 80px;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.footer-logo img {
    width: 85px;
    height: 40px;

}

.footer-logo h3 {
    font-family: Work Sans;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    color: #fff;
    padding-left: 10px;
}

.footer-logo span {
    color: #FF42A5;
}

.footer-link {
    padding-bottom: 50px;
}

.footer-link a {
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 30px;
}

.footer-social a {
    padding: 10px 30px;
}

.footer-social {
    padding-bottom: 50px;
}

.footer-info a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 30px;
}

footer p {
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 100px;
}







/* responsive small device */
@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .banner {
        flex-direction: column;
        margin: 0;
    }

    .banner>div {
        width: 90%;
    }

    .banner-content {
        margin-left: 40px;
    }

    .banner-content h3 {
        padding-top: 30px;
        font-size: 40px;
    }

    .banner-content h2 {
        font-size: 60px;
    }

    .banner-content button {
        margin-bottom: 10px;
    }

    .gamer {
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }

    .gamer-content p {
        margin: 0;
        margin: 10px 20px;
    }

    .gamer>div {
        width: 100%;
    }

    .online-games {
        margin: 0 40px;
    }

    .games-images {
        grid-template-columns: repeat(1, 1fr);
    }

    .play-instant {
        flex-direction: column;
        margin: 30px;
    }

    .play-instant>div {
        width: 100%;
    }

    .play-img img:last-child {
        width: 130px;
        height: 150px;
        bottom: 100px;
        left: -60px;
    }

    .play-content {
        padding-top: 50px;
    }

    .catagory-content {
        margin: 0;
    }

    .footer-link {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-social {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-social a {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        /* margin-left: 30px; */
    }

    footer p {
        margin-right: 100px;
        margin-left: 100px;
    }
    .career-part{
        flex-direction: column;
    }
    .career-content{
        margin: 5px;
    }
    .career-part>div {
        width: 95%;
    }
    .career-list>div{
        width: 50%;
    }
    .career-list h6{
        font-size: 11px;
    }

}
/* responsive medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }

    .nav-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .banner {
        flex-direction: column;
        margin: 0;
    }

    .banner>div {
        width: 90%;
    }

    .banner-content {
        margin-left: 40px;
        text-align: center;
    }

    .banner-content h3 {
        padding-top: 30px;
        font-size: 40px;
    }

    .banner-content h2 {
        font-size: 60px;
    }

    .banner-content button {
        margin-bottom: 10px;
    }

    .gamer {
        flex-direction: column-reverse;
        margin: 0;
        text-align: center;
    }

    .gamer-content p {
        margin: 0;
        margin: 10px 20px;
    }

    .gamer>div {
        width: 100%;
    }

    .online-games {
        margin: 0 40px;
    }

    .games-images {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-instant {
        flex-direction: column;
        margin: 30px;
    }

    .play-instant>div {
        width: 100%;
    }

    .play-img img:last-child {
        width: 130px;
        height: 150px;
        bottom: 100px;
        left: -60px;
    }

    .play-content {
        padding-top: 50px;
    }

    .catagory-content {
        margin: 0;
    }

    .footer-link {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-social {
        display: flex;
        flex-wrap: wrap;
    }

    .footer-social a {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .footer-info {
        display: flex;
        flex-wrap: wrap;
        /* margin-left: 30px; */
    }

    footer p {
        margin-right: 100px;
        margin-left: 100px;
    }
    .career-part{
        flex-direction: column;
    }
    .career-content{
        margin: 5px;
    }
    .career-part>div {
        width: 95%;
    }
    .career-list>div{
        width: 50%;
    }
    .career-list h6{
        font-size: 1.25rem;
    }

}